.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.container-input{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input{
    height: 32px;
    border-radius: 10px;
}

.form button{
    margin-top: 24px;
}