#root {
  width: 100%;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.app{
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 100px;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: inset 0 0 5px #000;
  border-radius: 10px;
}

.wrapper-products{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 35px;
}